<table>
    <tr>
        <td>Title</td>
        <td>{{ detailsCtrl.film.title}}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ detailsCtrl.film.description}}</td>
    </tr>
    <tr>
        <td>Length</td>
        <td>{{ detailsCtrl.film.length}}</td>
    </tr>
    <tr>
        <td>Release</td>
        <td>{{ detailsCtrl.film.release_year}}</td>
    </tr>
    <tr>
        <td>Ratings</td>
        <td>{{ detailsCtrl.film.rating}}</td>
    </tr>
    <tr>
        <td>Special Features</td>
        <td>{{ detailsCtrl.film.special_features}}</td>
    </tr>

</table>

<button ng-click="detailsCtrl.back()">Back</button>